

html {
  font-family: "Montserrat", sans-serif;
}

.bluredForm {
  width: 350px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.25);
}

.page{
  background-image: url("https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-repeat: no-repeat;
  background-size: cover;
}

/* .Content{
  background-color: aqua;
  color: blue;
} */


.box{
  position: absolute;
  cursor: move;
  color: black;
  max-width: 400px;
  border-radius: 10px;
  padding: 1em;
  margin: auto;
  user-select: none;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
  }